.inputListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 165px;
  font-family: "Bodoni MT Poster Compressed";
}
.inputListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #fff;
  border: 2px solid #0066ff;
  font-family: "Bodoni MT Poster Compressed";
}
.Reset {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #eb6123;
  color: #fff;
  border: 2px solid #eb6123;
  font-family: "Bodoni MT Poster Compressed";
}
.DisplayedWord {
  font-size: 24px;
  font-family: "Bodoni MT Poster Compressed";
}
p {
  font-size: 24px;
  font-family: "Bodoni MT Poster Compressed";
}
